#header {
	position:absolute;
	top:20px;
	left:0px;
	width:820px; 
	height:450px;
}

#header_test_img {
	background-image: url(/fmi-test/images/test_top.jpg);
	background-repeat: no-repeat;
	width:821px; 
	height:188px; 
	z-index:1;
}

#header_test {
	position:absolute;
	top:13px;
	left:-1px;
	width:821px; 
	height:188px; 
}

#title p {
	font-family: Arial, Helvetica, sans-serif;
}

.product_subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}    

.server_name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:bold;
}
.server_name_label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#666666;
	font-weight:bold;
}
.server_info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
}  

.gray_text {
	color:#666666
}

#header_info #server_name {
	position: relative;
	top: 20px;
}   
#header_info #server_info {
	position: relative;
	top: 20px;
	left: -3px;
}     

#watermark {
	position:absolute;   
	left:404px;
	top:547px;
	width:459px;
	height:459px;
}    

#header_info {
	position:relative;
	left:361px;
	top:25px;
	width:373px;
	height:230px;
	z-index:3;
}

#page {
	position:absolute;
	left:5px;
	top:5px;
	z-index:1;
}

#test_box {
	z-index:100;
}

#test_box p {
	margin: 0;
	padding-top: 8px;
}

#test_top {
	background-image:url(/fmi-test/images/update_topbar.jpg);
	background-repeat:no-repeat;
	height:46px;
	width:820px;
}

#test_top_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	position:relative;
	top:20px;
	left:25px;
}

#test_ball_success{
	background-image:url(/fmi-test/images/green.gif);
	background-repeat:no-repeat;
	width:24px;
	height:24px;
	position:relative;
	top:10px;
	left:25px;
}

#test_ball_failure{
	background-image:url(/fmi-test/images/red.gif);
	background-repeat:no-repeat;
	width:24px;
	height:24px;
	position:relative;
	top:10px;
	left:25px;
}

#test_impl_body_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	position:relative;
	top:-12px;
	left:55px;
	width: 750px;
}

.impl_top_text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

.impl_body_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
}
.impl_body_title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}

#test_table {
	position:relative;
	left:13px;
}

#test_table table {
	margin-left: 110px;
}

#test_body {
	background-image:url(/fmi-test/images/update_middle.jpg);
	background-repeat:repeat-y;
	width: 820px;
	/*height:120px;*/
}

#test_bottom {
	background-image:url(/fmi-test/images/update_bottom.jpg);
	background-repeat:no-repeat;
	height:23px;
	width:820px;
}

a:link {
	color: #0000CC;
}
a:visited {
	color: #0000CC;
}