<div style="background:#fff000; padding:9px;">{total_queries} Queries - {elapsed_time} seconds</div>
{!-- 
	Renders a nested category tree.
	{category_children_tagdata} recursively renders the tagdata until there are no more children.
--}

{exp:nsm_categories:archive 
	style="nested"
	enable="entries"
	target_category="13"
}
	{if category_count == 1 && category_depth == "1"}
	<p>
		&#123;category_absolute_total_results&#125;: Total number of categories being displayed: {category_absolute_total_results}<br />
		&#123;channel_entries_total_results&#125;: Total number of entries being displayed for all categories: {channel_entries_total_results}
	</p>
	{/if}
	<ul>
		<li class="category depth-{category_depth}"><strong>{category_name}</strong>
			<ul>
				<li>&#123;category_id&#125;: <strong>{category_id}</strong></li>
				<li>&#123;category_count&#125;: 
					<strong>{category_count}</strong> of {category_total_results} overall
				</li>
				<li>&#123;category_branch_count&#125;: 
					<strong>{category_branch_count}</strong> 
					of {category_branch_total_results}
				</li>
				<li>&#123;category_depth&#125;: {category_depth}</li>
				<li>&#123;category_is_target_parent&#125;: {category_is_target_parent}</li>
				<li>&#123;category_is_target&#125;: {category_is_target}</li>
				<li>&#123;category_is_parent&#125;: {category_is_parent}</li>
				<li>
					&#123;category_channel_entries_total_results&#125;: 
					<strong>{category_channel_entries_total_results}</strong>
				</li>
				<!-- li>&#123;category_channel_entries&#125;&hellip;&#123;category_channel_entries&#125;
					<ul>
						{if category_channel_entries_total_results}
							{category_channel_entries}
							<li>
								<ul>
									<li>
										&#123;category_channel_entry_count&#125;: 
										<strong>{category_channel_entry_count}</strong> 
										of {category_channel_entries_total_results} 
										<small>{count} of {category_channel_entries_total_results} overall</small>
									</li>
									<li>&#123;entry_title&#125;: <strong>{title}</strong></li>
									<li>&#123;entry_id&#125;: <strong>{entry_id}</strong></li>
									<li>&#123;entry_url_title&#125;: <strong>{url_title}</strong></li>
								</ul>
							</li>
							{/category_channel_entries}
						{if:else}
							<li>No results fool!</li>
						{/if}
					</ul>
				</li -->
				<li>&#123;category_children_total_results&#125;: {category_children_total_results}</li>
				<li class="category-children">&#123;category_children_tagdata&#125;:
					{if category_children_total_results}<ul>{category_children_tagdata}</ul>{/if}
					{if category_children_total_results == 0}No children categories{/if}
				</li>
			</ul>
		</li>
	</ul>
{/exp:nsm_categories:archive}