div#content {width: 910px; padding-right: 0px; background:#fff; background-repeat: repeat-y; background-position: right; padding-bottom: 105px;}

div#sub-nav {background-image: url('/res/img/bkgds/divider_sub-nav_organizations_content.jpg'); background-color: #ffffff; color: #32110a;  background-repeat: no-repeat; background-position: bottom; }

