
body {
    background: #BDBA9D !important;
}

h2 {
    font-size:1.5em !important;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

    input:required {
        border: 1px solid red;
    }

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}



/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* Common Styles */
img {
    border-style: none;
}

a:active {
    outline: none;
}

a:focus {
    outline: none;
}

input textarea select {
    font: 100% Arial, 'Helvetica Neue', Helvetica, sans-serif;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}


div.os-wrapper {
    margin: 15px auto 35px;
    background-color: #FFFFFF;
    width: 1024px;
    border-radius: 10px;
    -webkit-box-shadow: 20px 17px 78px -5px rgba(66,66,66,1);
    -moz-box-shadow: 20px 17px 78px -5px rgba(66,66,66,1);
    box-shadow: 20px 17px 78px -5px rgba(66,66,66,1);
}

div.os-main {
    margin: 0px auto;
    width: 996px;
    padding-bottom: 60px;
}

    div.os-main div.os-footer {
        clear: both;
    }

div.os-container-box{
    border: 1px solid #d9e6ee;
    border-radius: 8px;    
    padding: 0 15px;
    width: 480px;
}

div.os-container {
    overflow: hidden;
    padding: 0 2% 2%;
    margin: 55px 25% 0 25%;
    text-align: left;
    border: 1px solid #d9e6ee;
    border-radius: 8px;
}

    div.os-container p, div.os-container th, div.os-container td, div.os-container input, div.os-container textarea {
        color: #333333;
        font-family: Freight Sans, Arial, Helvetica, Geneva, sans-serif;
        font-size: 10pt;
    }

    div.os-container div.os-sidebarleft {
        float: left;
        width: 201px;
        padding: 0 0 1px;
        margin: 0px 15px 0px 0px;
    }

        div.os-container div.os-sidebarleft div.os-component {
            width: 201px;
        }

    div.os-container div.os-sidebarright {
        float: right;
    }

        div.os-container div.os-sidebarright div.os-component {
            width: 201px;
        }

    div.os-container div.os-contentcolumn {
        float: left;
        width: 778px;
        display: inline;
        margin: 0 0 0 0px;
    }

div.os-header {
    text-align: left;
}


.os-footer {
    margin: 0 2%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    width: 1024px;
    background-color:transparent;
    padding: 10px;
}


.btn, .hcount .count-o {
    height: 26px !important;
}

    .btn .label {
        padding-top: 3px !important;
    }


label {
    display: block;
    color: #999;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
    padding: 15px;
}

:focus {
    outline: 0;
}

.loginform ul {
    padding: 0;
    margin: 0;
}

.loginform li {
    display: inline;
    float: left;
}

.loginform input:not([type=submit]) {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

.loginform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottombottom, #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.os-box-header {
    color: #699BBC;
    background-color: #f0efe9;
    padding: 0 2%;
    border-radius: 6px;
    line-height: 2.5em;
}

.os-box-body {
    background-color: #d9e6ee;
    padding: 4px;    
}

.os-container p {
    text-align: center;
}

.table-responsive td{ border-top:none!important; }

.os-main-nav {
    background-color: #5d87a1;
    border-color: #5d87a1;
    border-bottom: 0px;
    overflow: hidden;
    width: 996px;
    height: 33px;
    margin-top:15px;
    border-radius:6px;
    text-align:right;
    padding-right:3%;
}

os-main-nav ul {
    float: right;
    margin: 4px 5px;
    overflow: hidden;
    padding: 6px 4px 0 0;
}

ol, ul {
    list-style: none;
}

.os-main-nav li {
    color: #FFFFFF;
    float: right;
   
    line-height: 15px;
    list-style: none;
    margin: 9px 0 0 9px;
    padding: 0 6px 0 7px;
}

.os-main-nav li a {
    margin-top: 4px;
    color:#FFFFFF!important;
    font-size:large;
}

#facultyViewAsDropDown {
    margin-top:15px;
}