div#content {padding-bottom: 0px !important;}
div#breadcrumbs {
	float: left;
	margin-right: 30px;
	}

div#content div#main-testimonial {/* width: 725px;  */margin: 0px; padding: 0px; float: left;}
div#content div.pri-testimonial {float: left; width: 715px; padding: 0px; margin: 0px; }


/* TESTIMONIAL NAV
-------------------------------------------- */
ul.testimonialsNav {
	height: 51px;
	margin: 0 0 4px;
	display: inline-block; 
	padding: 0; 
	list-style: none; 
	float: right;
	}
ul.testimonialsNav .head {
	width: 47px;
	font-size: 11px;
	font-weight: bold;
	float: left;
	margin-left: 4px;
	}
	
ul.testimonialsNav .head a {
	text-decoration: none; 
	color: #333333; 
	display: block; 
	text-align: center;
}
ul.testimonialsNav .head a img {
	opacity:0.7;
	filter:alpha(opacity=70);
}
ul.testimonialsNav .head.current {
	color: #7f2d2f;
}
ul.testimonialsNav .head.current a img,
ul.testimonialsNav .head a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}
	
	
ul.subnav-testimonial {
	list-style: none;
	margin: 0;
	}
ul.subnav-testimonial li {
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 0 0 17px;
	background-image: url(../img/testimonial-sub-bullet.gif);
	background-repeat: no-repeat;
	background-position: 0 8px;
	}
ul.subnav-testimonial li a {
	text-decoration: none;
	}
div#testimonial-feature {
	height: 300px;
	/* width: 725px; */
	background: #eae9da;
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px 0px 32px 0px;
	border-radius: 0px 0px 32px 0px;
	}
.testimonial-visual {
	float: left;
	padding:0px; margin:0px;
	}
.testimonial-visual img {
	display: inline;
	clear: none;
	}
.testimonial-quote {
	float: left;
	width: 350px;
	padding: 40px 0 20px 50px;
    width: 375px;
	color: #2e2304;
	font-size: 22px;
	line-height: 1.4em;
	font-family: "freight-sans-pro",sans-serif; 
	font-weight: normal;
	}
.testimonial-quote p {
	padding: 0; margin: 0;
}
.red {
	color: #7f2d2f;
	}
.orange {
	color: #cc6928;
	}
.blue {
	color: #689ABB;
	}
.testimonial-introtext {
	border-top: 2px solid #e1e0ce;
	border-bottom: 2px solid #e1e0ce;
	padding: 15px 0 10px 0;
	font-size: 16px;
	line-height: 1.7em;
	}
.bottom-photo {
	margin-bottom: 0;
	float: right;
	}
.bottom-photo-name {
	margin-bottom: 0px;
	margin-top: 50px;
	}
.soc-icon-join {
	margin: 100px 0 20px 0px;
	}
.soc-icon {
	padding: 7px 0 0 38px;
	height: 31px;
	font-size: 11px;
	line-height: 1.1em;
	margin: 5px 0 0 0px;
	background-position: left;
	background-repeat: no-repeat;
	}
.soc-icon a {
	text-decoration: none;
	}
.twitter {
	background-image: url(../img/soc-icon-twitter.jpg);
	}
.facebook {
	background-image: url(../img/soc-icon-facebook.jpg);
	}
	
#main-testimonial .narrow-col {
	width: 625px;
	float: left;
}	
#main-testimonial .narrow-col p:nth-child(1),
#main-testimonial .narrow-col p:first-child,
#main-testimonial .narrow-col div:first-child p:first-child {
    border-bottom: 2px solid #E1E0CE;
    border-top: 2px solid #E1E0CE;
    font-size: 16px;
    line-height: 1.7em;
    padding: 15px 0 10px;
    margin: 30px 0 40px;
}	


div#sidebar-testimonial {float: left; width: 145px; margin: 0px 0 0 0px; padding: 0px; }
div#sidebar-testimonial h3 { margin-bottom: 0px; }
div#sidebar-testimonial ul { margin-top: 0; }
#dl-top-left { float: left; width: 195px; background: #EBE9DA; padding: 15px 0px 15px 10px; margin-right: 25px; }
ul.bulleted-arrowed { list-style: none; padding: 0; }
ul.bulleted-arrowed li { font-size: 11px; background-image: url('../img/standard_arrow_icon.gif'); background-repeat: no-repeat; background-position: 0 0.35em; padding-left: 1.45em; line-height: 170%; width: 140px; }
ul.bulleted-arrowed li a { text-decoration: none; }

