/* properties specific to internal template #3 */

div#broadcast {height: 124px;}

/* div#content {width: 910px; padding-right: 0px; background-image: url('/res/img/bkgds/internal_3_content.gif'); background-repeat: repeat-y; background-position: right; padding-bottom: 105px;} */

div#content {width: 910px; padding-right: 0px;  background-repeat: repeat-y; background-position: right; padding-bottom: 105px;}

div#content div#main {width: 910px; margin: 0px; padding: 0px;}

div#content div#main div#breadcrumbs {margin-bottom: 18px;}

div#content div#sidebar {float: right; width: 345px; margin: 0px; padding: 0px;}

div#content div#sidebar h2 {line-height: 100%;}

div#content div#sidebar p {line-height: 130%; font-size: 0.98em;}

h1 {margin-top: 0px; padding-top: 0px;}

h2 {font-size: 1.2em; margin-top: 25px; margin-bottom: 0px; padding-top: 0px;}

div#content div.sec h2 {color: #699bbc; margin-top: 3px;}

div#content div#sidebar h2 {margin-bottom: 16px; margin-top: 3px; font-size: 0.99em; text-transform: uppercase;}

div#content div#sidebar div.sec h2 {text-align: left; color: #32110a;}





/* specific to coach training || courses */

div#content div.pri {float: left; width: 575px; }

div#content div.pri dt {line-height: 100%; margin-top: 20px;}

div#content div.pri dd {margin-top: 0px;}

div#content div.sec {float: left; width: 200px; margin-right: 15px;}

div#content div.sec ul {margin-top: 10px;}

div#content div.sec ul li {line-height: 125%; margin-bottom: 11px; background-position: 0 0.14em;}

div#content div.sec ul li .psuedo-head {text-transform: none; font-size: 0.94em;}

div#content div#sidebar div.pri {float: left; width: 140px; padding-left: 15px; padding-right: 15px; padding-top: 14px; text-align: left;}

div#content div#sidebar div.sec {float: right; width: 140px; padding-left: 15px; padding-right: 15px; padding-top: 14px; margin-right: 0px;text-align: left;}



form {margin-top: 20px;}

form div.bulletradio {width: 140px; text-align: left; margin-bottom: 20px; clear: both;}

form div.bulletradio input {float: left;}

form div.bulletradio p {float: right; width: 120px; padding-right: 20px;}

form div.bulletradio p label {font-weight: bold;}
form div.bulletradio img {margin-top:8px;margin-bottom:15px;}

form div.bulletradio p a.pricingdetails {display: block;}

form input#register {margin-top: 13px;}





dl#course-descriptions h2 {font-size: 1.0em;}

dl#course-descriptions ul {margin-bottom: 20px;}

dl#course-descriptions dt h2 a:hover {text-decoration: underline; color: #32110a ! important;}



#thiscourse {text-decoration: none; color: #6e9bb8 ! important;}

.image-placeholder { padding:30px; width:100%; border:solid 1px #ccc; text-align:center; }
.small-image-placeholder { padding:10px; width:100%; border:solid 1px #ccc; text-align:center; }

.drop-downs { float:left; width:200px; }