#dl-top-left { float: left; width: 165px; background: #ebe9da; padding: 15px 0px 15px 10px; margin-right: 25px; }
div#dl-top-left div#united-states { margin-bottom: 15px;}
div#dl-top-left div#canada { }
div#dl-top-left h2, div#dl-top-middle h2, div#dl-top-right h2 {margin-bottom: 10px; font-size: 1.2em; margin-top: 1px;}
