@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	}
body {
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	text-align: center;
	margin: 30px 0 0 0px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	}
h2 {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #5d8bac;
	font-weight: normal;
	}
h3 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 4px;
	}
#toolsHeader {
	margin-top: 15px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #999;
	}
h1 {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #5d8bac;
	font-weight: normal;
	}
.blue {
	color: #41769c;
	}
.gray {
	color: #333;
	}
p {
	padding-bottom: 0px;
	}
a {
	text-transform: none;
	text-decoration: none;
	font-weight: bold;
	color: #5d8bac;
	}
a:visited {
	text-transform: none;
	text-decoration: none;
	color: #5d8bac;
	}
a:hover {
	color:#a2a18b;
	}
#wrapper {
	width: 728px;
	margin:0 auto;
	background-color: #FFF;	
	}
#wrapper .inner {
	min-height: 200px;
	background-color: #FFF;
	width: 684px;
	padding: 0 14px 0 30px;
	}
#wrapper .inner:after{
	content:".";
	display:block;
	width:100%;
	overflow:hidden;
	height:0;
	clear:both;
	text-indent:-9999em;
	}
#header {
	height: 126px;
	width: 728px;
	}
.clear {
	clear: both;
	}
.nav {
	list-style: none;
	position: relative;
	left: 195px;
	margin-top: 12px;
	height: 30px;
	width: 345px;
	}
.nav li {
	float:left;
	margin:0 0px 0 0;
	display:inline;
	}
.nav li a {
	display:block;
	height:30px;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
.nav li a:hover {
	background-position:0 -30px;
	}
.nav li.active a {
	background-position:0 -60px;
	}
.nav1 a {
	background-image:url(../images/nav1.gif);
	width:69px;
	} 
.nav2 a {
	background-image:url(../images/nav2.gif);
	width:90px;
	} 
.nav3 a {
	background-image:url(../images/nav3.gif);
	width:74px;
	} 
.nav4 a {
	background-image:url(../images/nav4.gif);
	width:56px;
	}
.nav5 a {
	background-image:url(../images/nav5.gif);
	width:56px;
	}
#contentRight {
	width: 182px;
	background-color: #fff;
	float: right;
	text-align: left;
	min-height: 200px;
	margin: 50px 0 0 0px;
	}
#content {
	width: 460px;
	float: left;
	text-align: left;
	margin: 10px 0 0 20px;
	}
#content .intro {
	line-height: 1.6em;
	}
#toollink {
	padding: 4px 0 4px 25px;
	margin: 10px 0 0 0px;
	height: 20px;
	color: #8EC84F;
	background-image: url(../images/tool-sm.gif);
	background-repeat: no-repeat;
	}
#toollink a {
	color: #5da43a;
	}
#toollink a:hover {
	color: #333;
	}
#footer {
	width:728px;
	height: 15px;
	overflow:hidden;
	text-align:center;
	padding:0px 0px;
	background:url(../images/bottom.gif) no-repeat;
	}